.formStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  gap: 1rem;
  border-bottom: .1rem solid #CE7777;
}

.inputStyle {
  outline: none;
  padding: .6rem 1rem;
  color: rgba(43, 58, 85, .8);
  width: 55%;
  font-size: 20px;
  border: 1px solid rgba(43, 58, 85, .8);
  border-radius: .3rem;
  background: #F2E5E5;
}

.buttonStyle {
  padding: .7rem 2rem;
  color: rgba(43, 58, 85, .8);
  font-weight: 600;
  font-size: 18px;
  background: #CE7777;
  border: 1px solid rgba(43, 58, 85, .8);
  border-radius: .3rem;
  outline: none;
  cursor: pointer;
}

.buttonStyle:hover {
  opacity: .9;
  transition: .2s ease-in-out; 
}